/*--SECTION BANNER2--*/
section.banner2 img{
    width: 100%; 
    padding-right:10px;
}
.box-banner2{
    position: relative;
}
section.banner2 a{
    display: block;    
}
section.banner2 .open{
    height: 40px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0 10px;    
}
/*--FIN SECTION BANNER2--*/
.clea|rfix {
	display: table;
}
.cle|arfix:after {
	content:" ";
	clear:both;
}

.conten{
    width: 22%;
    text-align: center;
    border: 2px solid #a5a5a5;
    margin-left: 20px;
    margin-top: 20px;
    padding: 30px 10px;
    padding-bottom: 15px;
}

.blogger{
    background-color: gainsboro;
    width: 100%;
    padding: 10px;
}

.imagen{
    |width: 40%;
    text-align: left;
    padding: 0;
}

.imagen img{
    |width: 55px;
    |width: 140%;
    padding: 4px;
    background-color: #fff;
}

.texto{
    text-align: left;
}

.conten>p:nth-child(1){
    font-size: 0.8em;
}

.conten>p:nth-child(2){
    font-size: 1.3em;
}

.blogger p{
    margin: 1px;
}

.blogger p:nth-child(1){
    font-size: 0.89em;
}

.blogger p:nth-child(2){
    color: darkseagreen;
}
