*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section.banner1{
    height: 100px;
    width: 100%;
    background: purple;
}
/*--------HEADER-PRINCIPAL*/
section.header-principal {
    margin: 0 auto;
}
section.header-principal .left{
    padding: 15px 0;
} 
section.header-principal .medio span{
    background-color: #AE0808;
    color: #fff;
    padding: 5px;
    
    position: relative;
    top: -10px;
}

section.header-principal .medio{
    display: inline-block;
    border: solid 2px #F2F2F2;
    border-bottom: solid 2px #AE0808;
    margin-top: 4px;
    padding: 5px 0;
}

section.header-principal .right .box-texto{
    display: inline-block;   
    background: #252D34;  

}
.box-editorial{
    display: inline-block;
    color: #fff;
    transform: rotate(270deg);
    width: 20px;
}
.box-editorial span{
    display: inline-block;   
    position: relative;
    left: -7px;
    bottom: -2px;
    font-size: 10px;
}
.box-texto p{
    display: inline-block;
    border: solid 2px #F2F2F2;    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-style: none;
    background: #fff;    
    padding: 10px 46px;
    margin: 0;
}
section.header-principal .right img{
    margin-bottom: 26px;
}
/*--------------END---HEADER-PRINCIPAL*/
/*-----------------MENU*/
header nav {
    display: inline-block;
    background-color: #C90707; 
    border-radius: 10px;
}
header nav a{
    color: #fff;   
    border-right: groove #003376 1px;
}
#mas-secciones{
    border-right:none;    
}
.navbar-nav>li>a{
    padding: 10px 0;
}
.nav>li>a{
    padding: 5px 10px;  
    font-size: 14px;
}
.nav>li>a:hover,.nav>li>a:focus, .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003376;
    color: #fff;  
    padding: 5px 8px;      
}
.dropdown-menu>li>a{
    background-color: #003376;
    color: #fff;
}
.nav>li>a:hover, .select {
    background-color: #003376;
    color: #fff;
}
/*--------------END---MENU*/
/*------------section.banner2*/
section.banner2 img{
    width: 100%; 
    padding-right:10px;
}
.box-banner2{
    position: relative;
}
section.banner2 a{
    display: block;    
}
section.banner2 .open{
    height: 40px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0 10px;    
}
/*---------END---section.banner2*/
