/* SECCION DEL BANNER_1 */
.container-fluid{
	background-color: rgba(64, 210, 226, 0.31);
}
.im{
	padding-left: unset;
	padding-right: unset;
}
.im img{
	width: 100%;
}
.degradado{
	
	width: 100%;
	height: 100%;
	
}
.container-fluid .btn1,.btn2{
	background-color: orange;
	color: white;
}
.container-fluid .btn2{	
	margin-left: 60px;
}
.container-fluid .btn1{
	margin-top: 30px;

}