

/*-----------------MENU*/
header nav {
    display: inline-block;
    background-color: #C90707; 
    border-radius: 10px;
}
header nav a{
    color: #fff;   
    border-right: groove #003376 1px;
}
#mas-secciones{
    border-right:none;    
}
.navbar-nav>li>a{
    padding: 10px 0;
}
.nav>li>a{
    padding: 5px 10px;  
    font-size: 14px;
}
.nav>li>a:hover,.nav>li>a:focus, .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003376;
    color: #fff;  
    padding: 5px 8px;      
}
.dropdown-menu>li>a{
    background-color: #003376;
    color: #fff;
}
.nav>li>a:hover, .select {
    background-color: #003376;
    color: #fff;
}
/*--------------END---MENU*/


