
/*-----------------section.temas-del-dia*/
section.temas-dia .col-xs-10{
    padding: 0;
}
.box-temas-dia{
  
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 18px;
}
/* SECCION DEL BANNER_1 */
.banner1  img
{
    width: 100%;
}
/* FIN DE SECCION DEL BANNER_1 */

/*SECCION POST BANNER*/
.post-banner1 
{
    font-size: 0.8em;
    padding: 20px 0;
    background-color: #f4f5f7;
}
.diarios
{
    padding-left: 0;
    padding-bottom: 10px;
    margin-right: 40px;
}

.diarios li 
{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}

.diarios li a 
{
    color: #7e7e92;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
}
.redes
{
    padding-left: 0;
    margin-left: 10px;
}
.redes li 
{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 13px;
}
.redes .sub a 
{
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #fe4949;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

.redes li:nth-child(2) a {
    color: #2A65A1;
}

.redes li:nth-child(3) a {
    color: #4BB7D9;
}

.redes li:nth-child(4) a {
    color: #FF0000;
}

.redes li:nth-child(5) a {
    color: #FFBF00;
}

.redes li:nth-child(6) a {
    color: #FD9328;
}

.search 
{
    padding: 5px 0px;
    height: 30px;
    left: 10px;
    |float: left;
    line-height: 22px;
}

.search input {
    width: 0px;
    float:right;
    |margin-left: 100px;
    transition: all 0.7s ease-in-out;
    |height: 30px;
    line-height: 18px;
    |padding: 0 2px 0 2px;
    margin-top: -11px;

}
.search:hover input, .search input:focus {
    width: 350px;
    margin-left: -260px;
    |margin-right: 100px;
}

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
    margin-top: -11px;
    color:#808895;
    background-color: #f4f5f7;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 1em;
	border-left: 1px solid rgba(167, 165, 165, 0.69);
    border-right: 1px solid rgba(167, 165, 165, 0.69);
    
}
.btn i{
    color:#6b6e74;
}
/*FIN DE LA SECCION POST BANNER*/


/*--------HEADER-PRINCIPAL*/
section.header-principal .medio{
    display: inline-block;
    border: solid 2px #F2F2F2;
    border-bottom: solid 2px #AE0808;
}

section.header-principal .medio span{
    background-color: #AE0808;
    color: #fff;
    padding: 5px;
    
    position: relative;
    top: -20px;
}
section.header-principal .col-xs-12{
    padding-right: 0;
    padding-left: 0;
}

section.header-principal .derecha .box-texto {   
    background: #252D34;
}
.clearfix{
    clear: both;
}
.box-editorial{
    float: left;
    transform: rotate(270deg);
    width: 5%; 
    position: absolute;
}
.box-texto .box-editorial span{
    color: #fff;    
}
.text-img {
    float: right;
    background: #fff;  
    border: solid 2px #F2F2F2;    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-style: none;
    width: 95%;
}
section.header-principal .medio p,.box-texto .text-img p{
        margin: 0;
    }
.box-texto p img{
    position: absolute;
    top: 0;
    right: 0;
}
/*--------------END---HEADER-PRINCIPAL*/

/*-----------------MENU*/
header nav {
    display: inline-block;
    background-color: #C90707; 
    border-radius: 10px;
}
header nav a{
    color: #fff;   
    border-right: groove #003376 1px;
}
#mas-secciones{
    border-right:none;    
}
.navbar-nav>li>a{
    padding: 10px 0;
}
.nav>li>a{
    padding: 5px 10px;  
    font-size: 14px;
}
.nav>li>a:hover,.nav>li>a:focus, .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003376;
    color: #fff;  
    padding: 5px 8px;      
}
.dropdown-menu>li>a{
    background-color: #003376;
    color: #fff;
}
.titulo{
    background: #070C10;
    color: #fff;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.carousel-inner{
    padding: 5px 27px;
    background: #E4E8EB;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.punto{
    font-size: 5px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 7px;
}
.carousel-inner a{
    text-decoration: none;
    color: #333; 
}
.carousel-control{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;   
}

/*--------------END---section.temas-del-dia*/

/*SECCION DEL FOOTER*/
footer { background-color:#E7E6E6; color:#6B6B6B;}
footer h4{color: black;}
.logo { padding: 115px 0px; } 
.contenido { font-size: 13px; padding: 30px 0px;  }
.contenido .borde{  border-left: 2px solid #ECEBEB; }
.contenido ul li a { color:#6B6B6B; text-decoration:none;}
.line{color: black;}
.linea a { text-decoration:none; color: #AFADAD;}
.post-footer{ padding: 10px ; border-top: 2px solid #ECEBEB;}
/**FIN DE SECCION FOOTER/

