

/*-----------------MENU*/
header nav {
    display: inline-block;
    background-color: #C90707; 
    border-radius: 10px;
}
header nav a{
    color: #fff;   
    border-right: groove #003376 1px;
}
#mas-secciones{
    border-right:none;    
}
.navbar-nav>li>a{
    padding: 10px 0;
}
.nav>li>a{
    padding: 5px 10px;  
    font-size: 14px;
}
.nav>li>a:hover,.nav>li>a:focus, .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003376;
    color: #fff;  
    padding: 5px 8px;      
}
.dropdown-menu>li>a{
    background-color: #003376;
    color: #fff;
}
.nav>li>a:hover, .select {
    background-color: #003376;
    color: #fff;
}
/*--------------END---MENU*/
/*-----------------section.temas-del-dia*/
section.temas-dia .col-xs-10{
    padding: 0;
}
.box-temas-dia{
    background: #E4E8EB;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 18px;
    margin-left: -76px;
    margin-right: -76px;
}
.titulo{
    background: #070C10;
    color: #fff;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.carousel-inner{
    padding: 5px 27px;
}
.punto{
    font-size: 5px;
    display: table-cell;
    vertical-align: middle;
}
.carousel-inner a{
    text-decoration: none;
    color: #333;
}
.carousel-control{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}

/*--------------END---section.temas-del-dia*/