*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------HEADER-PRINCIPAL*/
section.header-principal .medio{
    display: inline-block;
    border: solid 2px #F2F2F2;
    border-bottom: solid 2px #AE0808;
}

section.header-principal .medio span{
    background-color: #AE0808;
    color: #fff;
    padding: 5px;
    
    position: relative;
    top: -20px;
}
section.header-principal .col-xs-12{
    padding-right: 0;
    padding-left: 0;
}

section.header-principal .derecha .box-texto {   
    background: #252D34;
}
.clearfix{
    clear: both;
}
.box-editorial{
    float: left;
    transform: rotate(270deg);
    width: 5%; 
    position: absolute;
}
.box-texto .box-editorial span{
    color: #fff;    
}
.text-img {
    float: right;
    background: #fff;  
    border: solid 2px #F2F2F2;    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right-style: none;
    width: 95%;
}
section.header-principal .medio p,.box-texto .text-img p{
        margin: 0;
    }
.box-texto p img{
    position: absolute;
    top: 0;
    right: 0;
}
/*--------------END---HEADER-PRINCIPAL*/

/*-----------------MENU*/
header nav {
    display: inline-block;
    background-color: #C90707; 
    border-radius: 10px;
}
header nav a{
    color: #fff;   
    border-right: groove #003376 1px;
}
#mas-secciones{
    border-right:none;    
}
.navbar-nav>li>a{
    padding: 10px 0;
}
.nav>li>a{
    padding: 5px 10px;  
    font-size: 14px;
}
.nav>li>a:hover,.nav>li>a:focus, .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #003376;
    color: #fff;  
    padding: 5px 8px;      
}
.dropdown-menu>li>a{
    background-color: #003376;
    color: #fff;
}
.nav>li>a:hover, .select {
    background-color: #003376;
    color: #fff;
}
/*--------------END---MENU*/


