
.columnistas{
    background-color: #f2f2f2;
    text-align: center;
    padding:5px;
   
    border-top: 3px solid #c71100;
}

.columnistas li {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    padding-right: 3px;
}
.columnistas li img {
    width:80%;
    border:5px solid #fff;
}
.columnistas li p:nth-child(3) {
  font-weight: bold;
    
}
.columna .container ul {
    padding: 0; 
}