body *{
    font-family: font-family: 'Heebo', sans-serif;
}

/*-------------- SECTION ULTIMAS-NOTICIAS --------------*/

.ultimas-noticias h4{
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    |margin-left: -15px;
}
.hora, .titulo-nota{
    margin-left: -15px;
}

.noticia1{
    padding-top: 2.1em;
    padding-left: 0;
    padding: 0 2em;
}

.noticia1 .jus{
    |margin-left: 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #a2a2a2;
}

.imagen-nota{
    padding: 0;
}

.imagen-nota img{
    width: 100%;
}

.botones img{
    margin: 0 2px;
}

.botones i{
    color: #e20c0c;
    font-size: 1.3em;
}

.boletin{
    padding: 30px 10px 20px 10px;
    background: url('../image/trama_square.jpg');
}

.fondo{
    background-color: #fff;
    padding: 30px 0 20px 0;
}

.boletin img{
margin-top: -77px;
}

.boton{
margin-top: 20px;
}

.sp{
    padding: 0 30px;
}

.boton a{
padding: 5px 40px;
    background-color: red;
    color: #fff;
    border-radius: 4px;
}

.aweita{
    border: 1px solid rgba(159, 154, 154, 0.74);
    margin-top: 30px;
}

.aweita-noticia{
    padding: 10px 20px;
}

.aweita-img{
    padding: 10px 0px;
}

.aweita-img img{
    width: 100%;
}

.aweita-text{
    padding-right: 0;
}

.aweita-text p{
    font-size: 0.9em;
    margin-top: 10px;
}

.imagen-foto img{
    width: 100%;
}

.texto-foto{
    padding: 10px 0;
    font-weight: 600;
}

.imagenmin-foto{
    padding: 0;
}

.textomin-foto{
 font-size: 0.8em;
    text-align:left;
    font-weight: 600;
}

.sp1{
    padding: 10px 0;
}
