

/* SECCION NOTICIAS IMPORTANTES */
/**{
    outline: 1px solid red;
}*/

.cuadrito{
    border: 1px solid rgba(20, 25, 22, 0.3);
    border-radius: 3px;
    background-image: url(../image/becerril_1.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover; 
    margin-bottom: 10px;
    height: 220px;
}
.degradadoni{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.91) 82%, rgba(0,0,0,0.91) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); 
    margin-top: 163px;
    padding-bottom:0px;

}
h5 span.rojito{
    color: red;
}
h5.sobre{
    color: white;
}
b.negrito{
    color: black;
    font-size: 12px;
}

/*.noticias-importantes{
    
}*/
img .publicidad{
	width: 100%
}
/*FIN DE NOTICIAS IMPORTANTES*/