 /* Seccion-noticias-importantes */
/**{
	outline: 1px solid red;
}*/
.noticias-importantes img{width: 100%;}

div.cuadrito{
	border: 1px solid rgba(31, 24, 24, 0.7);
	margin-top: 20px;
	margin-bottom: 20px;
}
h5 span.rojito{
	color: red;
}
b.negrito{
	color: black;
	font-size: 10px;
}
p.parrafo{
	padding-bottom: 5px;
	padding-top: 15px;
	font-size: 10px;
}
p.sobre{
	position: absolute;
	z-index: 1;
	transform: translateY(-100%) translateX(0%);
	color: white;
	font-size: 12px;
	background-color: rgba(29, 6, 6, 0.59);
	padding-right: -5%;
}
img .publicidad{
	width: 100%
}