<<<<<<< HEAD
/*QUERIES HEADER PRINCIPAL*/


/*------------CELULARES-----*/

@media screen and (max-width:767px) {
    header {
        text-align: center;
        margin: 0 30px;
    }
    section.header-principal .izquierda {
        text-align: left;
    }
    section.header-principal .box-editorial {
        bottom: 16%;
    }
    section.header-principal .box-texto .box-editorial span {
        font-size: 13px;
    }
    section.header-principal .medio p,
    .box-texto .text-img p {
        font-size: 22px;
    }
    .box-texto .text-img p {
        padding: 10px 45px 10px 20px;
    }
    section.header-principal .medio {
        margin-top: 0px;
        padding: 10px 0;
    }
    .columnistas{
        margin: 0 25px;
    }
    
    .blog .conten{
        width: 100%;
    }
}


/*------------Table-----*/

@media screen and (min-width:768px) and (max-width:991px) {
    header {
        text-align: center;
        margin: 0 auto;
    }
    section.header-principal .izquierda {
        text-align: left;
    }
    section.header-principal .box-editorial {
        bottom: 16%;
    }
    section.header-principal .box-texto .box-editorial span {
        font-size: 14px;
    }
    section.header-principal .medio p,
    .box-texto .text-img p {
        font-size: 19px;
    }
    .box-texto .text-img p {
        padding: 10px 45px 10px 20px;
    }
    section.header-principal .medio {
        margin-top: 0px;
        padding: 10px 0;
    }
}
/*------------Desktop-----*/

@media screen and (min-width:992px) and (max-width:1199px) {
    section.header-principal .box-texto .box-editorial span {
        font-size: 11px;
    }
    .box-texto .text-img p {
        padding: 10px 45px 10px 20px;
    }
    section.header-principal .medio {
        margin-top: 0px;
        padding: 10px 0;
    }
    section.header-principal .medio p,
    .box-texto .text-img p {
        font-size: 15px;
    }
    section.header-principal .derecha .box-texto {
        margin-left: 20px;
    }
    .box-editorial {
        bottom: 2%;
    }
}

/*------------Desktop large-----*/

@media screen and (min-width:1200px) {
    section.header-principal .box-texto .box-editorial span {
        font-size: 11px;
    }
    .box-texto .text-img p {
        padding: 10px 45px 10px 20px;
    }
    section.header-principal .medio {
        margin-top: 0px;
        padding: 10px 0;
    }
    section.header-principal .medio p,
    .box-texto .text-img p {
        font-size: 18px;
    }
    section.header-principal .derecha .box-texto {
        margin-left: 20px;
    }
    .box-editorial {
        bottom: 12%;
    }
}

/*FIN QUERIES HEADER PRINCIPAL*/


/*QUERIES MENU*/


/*------------CELULARES-----*/


/*------------iPhone 5-----*/

@media screen and (max-width:767px) {}


/*----------END--iPhone 5-----*/

@media screen and (max-width:767px) {
    .menu {
        visibility: hidden;
    }
    
    .conten{
        width: 90%;
    }
    
    .imagen{
        width: 90px;
    }
    
    .texto{
        |width: 90px;
        |position: absolute;
        |top: 110px;
        |left: 100px
    }
}
/*------------TABLET-----*/

@media screen and (min-width:768px) and (max-width:991px) {
    .menu {
        visibility: hidden;
    }
}
/*------------DESKTOP-----*/

@media screen and (min-width:992px) and (max-width:1199px) {
    .nav>li>a {
        padding: 5px 10px;
        font-size: 11px;
    }
    
    
}



/*FIN DEQUERIES MENU*/

/*POST BANNER*/
@media screen and (min-width:1000px) {
    .diarios li 
    {
        margin-right: 0px;
        padding-left:  0px;
    }
    .redes .sub a 
    {
        color: #fff;
        padding: 10px 10px;
    }
 
}
/*SECCION HERO*/

@media screen and (max-width:767px) {
    .hero .titulo .tituhero {
        width: 100%;
    }
    .hero .titulo .tituhero {
        font-size: 25px;
        text-align: center;
    }
    #sec1 {
        margin-top: 20px;
    }
}
/*FIN SECCION HERO*/
/*COLUMNISTAS*/
@media screen and (max-width: 767px) {

.columnistas .sp{
   
    margin-right:30px;
    }
    .columnistas .caja {
       background-color: #CACACA;
   
}
}
/*ULTIMAS NOTICIAS*/

@media screen and (max-width: 767px) {
    .aweita-noticia {
        padding: 10px 40px;
    }
    
    .aweita-noticia p{
        font-size: 1.2em;
    }
    
    .texto-foto p{
        font-size: 1.5em
    }
    
    .imagenmin-foto img{
        width: 100%;
    }
    
    .textomin-foto p{
        font-size: 1.3em;
        font-weight: bold;
    }
    
}
/*FIN NOTICIAS*/
=======
/*------------CELULARES-----*/
@media screen and (max-width:767px){
/*------------section.temas-dia-----*/   
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-left: -36px;
    margin-right: -36px; 
}
    .td-contenido{
        overflow: hidden;
    }

/*----------END--section.temas-dia-----*/
}
/*------------Table-----*/
@media screen and (min-width:768px) and (max-width:991px){
/*------------section.temas-dia-----*/   
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-left: -46px;
    margin-right: -46px; 
}

/*----------END--section.temas-dia-----*/ 
}

/*------------Desktop-----*/
@media screen and (min-width:992px) and (max-width:1199px){
    /*------------section.temas-dia-----*/ 
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-left: -56px;
    margin-right: -56px;
}  
/*----------END--section.temas-dia-----*/ 
}
/*------------Desktop large-----*/
@media screen and (min-width:1200px){
/*------------section.temas-dia-----*/   
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-left: -66px;
    margin-right: -66px; 
}

/*----------END--section.temas-dia-----*/     
}





>>>>>>> temas-del-dia
