
@media (max-width:598px) {
    .columnistas li {
        width: 45% !important;
    }
    .columnistas li {
         display: inline-block;
        font-size: 19px;
        text-align: center;
        padding-right:30px;
    }
}
@media (max-width:598px) {
    p.Mario {
    font-size: 15px;
}
 
}

    
