/*QUERIES MENU*/
/*------------CELULARES-----*/
/*------------iPhone 5-----*/
@media screen and (max-width:767px){

}
/*----------END--iPhone 5-----*/
@media screen and (max-width:767px){
    .menu{
        visibility:hidden;
    } 
}
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    .menu{
        visibility:hidden;
    }          
}
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
    .nav>li>a{
        padding: 5px 5px;  
        font-size: 9px;
    }
}
}
@media screen and (min-width:1200px){   
}

/*FIN DEQUERIES MENU*/

